<meta charset="utf-8">

<title><%= config.title %></title>

<meta name="description" content="<%= config.description %>">
<meta name="author" content="<%= config.author %>">
<meta name="generator" content="reveal-ck <%= RevealCK::VERSION %>">

<% config.meta_properties.each do |property, content| %>
<meta property="<%= property %>" content="<%= content %>" />
<% end %>

<% config.meta_names.each do |name, content| %>
<meta name="<%= name %>" content="<%= content %>" />
<% end %>

<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

<link rel="stylesheet" href="css/reveal.css">
<link rel="stylesheet" href="css/theme/<%= config.theme %>.css" id="theme">

<!-- Code syntax highlighting -->
<link rel="stylesheet" href="lib/css/zenburn.css">

<link rel="stylesheet" href="css/reveal-ck.css">

<% css_files.each do |file| %>
<link rel="stylesheet" href="<%= file %>">
<% end %>

<!-- Printing and PDF exports -->
<script>
  var link = document.createElement( 'link' );
  link.rel = 'stylesheet';
  link.type = 'text/css';
  link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
  document.getElementsByTagName( 'head' )[0].appendChild( link );
</script>

<!--[if lt IE 9]>
<script src="lib/js/html5shiv.js"></script>
<![endif]-->
